* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: #f8f6f6;
  display: none;
  visibility: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f8f6f6;
  height: 100vh;
  padding: 2rem;
  transition: all 700ms linear;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}

.login-box {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 70vh;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.12);
}

.login-box img {
  width: 50%;
  justify-self: end;
  transition: all 500ms;
}

.login-form {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  background-color: #fff;
  padding: 4rem 3rem;
  text-align: center;
  font-size: 1.5rem;
  transition: all 500ms ease, transform 350ms ease, display 350ms ease;
}

.login-form h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

.login-form img {
  height: 8rem;
  width: 8rem;
  align-self: center;
  margin-bottom: 3rem;
}

.form-group {
  text-align: left;
  margin: 1.5rem 2rem;
}

.login__label {
  display: block;
  margin-left: 1rem;
  transform: translateY(-2.8rem);
  pointer-events: none;
  transition: all 300ms;
}

.login__input:focus ~ .login__label,
.login__input:not(:placeholder-shown) ~ .login__label,
.login__input:-webkit-autofill ~ .login__label {
  transform: translateY(0.1rem);
  font-weight: bold;
  font-size: 1.4rem;
}

.login__input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.btn {
  display: inline-block;
  width: 50%;
  padding: 0.75rem;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to top left, #01bde7, #00f2f1);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin: 1.5rem 0;
  transition: all 200ms linear;
}

.btn:hover {
  opacity: 0.9;
}

.signup-link p {
  margin: 2rem 0;
  font-size: 1.3rem;
  color: #555;
}

.signup-link a {
  background: -webkit-linear-gradient(bottom, rgb(156, 86, 20), #ff6f2c);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.slide-left,
.slide-right {
  width: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
}

.slide-left {
  transform: translateX(-100%);
}

.slide-right {
  transform: translateX(100%);
}

.slide-left *,
.slide-right * {
  display: none;
}

.scale-down {
  scale: 0;
  width: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
}

/* Page */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  transition: all 500ms;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

.theme {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 500ms;
}

.logo {
  height: 5.25rem;
  transition: all 500ms;
}

.settings {
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1rem;
  transition: all 500ms;
}

.settings:hover {
  opacity: 0.9;
}

.settings--menu {
  position: absolute;
  list-style-type: none;
  right: 2rem;
  top: 8rem;
  width: 15rem;
  padding: 1rem;
  border: 0.1rem solid #555;
  border-radius: 15px;
  transition: all 300ms;
}

.settings--menu li {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide--right {
  transform: translateX(100vw);
}

.btn--logout {
  width: 100%;
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  margin: 0;
}

/* MAIN */
.overlay {
  position: fixed;
  inset: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  transition: all 300ms;
}

.popup {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  position: fixed;
  z-index: 10;
  inset: 0;
  margin: auto;
  width: 40vw;
  height: 35vh;
  border: 1px solid #888;
  border-radius: 15px;
  background-color: #f8f6f6;
  color: #333;
  padding: 4rem 8rem;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.12);
  transition: all 500ms;
}

.popup__message {
  font-size: 2rem;
  text-align: center;
}

.popup__btns--container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.popup__btn--confirm,
.popup__btn--cancel {
  width: 30%;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.12);
}

.popup__btn--confirm {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.popup__btn--cancel {
  background-image: none;
  background-color: transparent;
  border: 1px solid #888;
  color: #333;
}

.popup__btn--close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  transition: all 300ms;
}

.popup__btn--close:hover {
  opacity: 0.9;
  color: #e52a5a;
}

.popup.error {
  height: 30vh;
  color: #e52a5a;
}

.popup.error .popup__btn--cancel {
  display: none;
}

.app {
  position: relative;
  max-width: 57vw;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto 2rem 18rem repeat(2, 14rem) auto;
  gap: 2rem;
  transition: all 1s ease;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

/* MOVEMENTS */
.titles {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 90fr 1fr 130fr 1fr 80fr 1fr 80fr;
  padding: 0 4rem;
  border-bottom: 1px solid #888;
  border-radius: 5px;
  padding-bottom: 3rem;
}

.titles p {
  justify-self: center;
  font-size: 1.5rem;
  width: 100%;
  align-self: center;
  text-align: center;
}

.titles hr {
  width: 0;
  border: none;
  border-left: 1px solid #888;
}

.titles p:first-child {
  text-align: start;
  margin-left: 5rem;
}

.titles p:last-child {
  text-align: end;
}

.movements {
  grid-row: 3 / span 3;
  background-color: #ffffff;
  border-radius: 1.5rem;
  overflow: scroll;
  transition: all 500ms;
}

.movements p {
  display: none;
}

.movements.empty {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movements.empty p {
  display: block;
  font-size: 2rem;
  align-self: center;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 3fr) repeat(2, 2fr);
  border-bottom: 1px solid #eee;
  align-items: center;
}

.movements__row:nth-child(2) {
  padding-top: 0.25rem;
}

.movements__row:nth-last-child(2) {
  padding-bottom: 0;
  border-bottom: none;
}

.movements__type,
.movements__date,
.movements__value {
  width: fit-content;
  height: fit-content;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
}

.movements__type.deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type.withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__type.transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.movements__description {
  font-size: 1.2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
  justify-self: center;
}

.movements__value {
  font-size: 1.7rem;
  margin-right: 0;
  justify-self: end;
}

.fader {
  height: 2rem;
  width: 100%;
  position: sticky;
}

.fader--top {
  background-image: linear-gradient(to top, #ffffff00, #ffffff);
  top: 0;
}

.fader--bottom {
  background-image: linear-gradient(to bottom, #ffffff00, #ffffff);
  transform: translateY(1px);
  bottom: 0;
}

/* SUMMARY */
.summary {
  grid-row: 6 /7;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
  transition: all 500ms;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 1s;
}

.btn--sort:hover {
  outline: none;
  color: #777;
}

/* OPERATIONS */
.operation {
  border-radius: 15px;
  padding: 3rem 4rem;
  color: #333;
}

.operation--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  grid-row: 2 / span 2;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
  grid-row: 4;
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  grid-row: 5;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
  position: relative;
}

.form--deposit {
  margin: 2rem 0 3.5rem 0;
}

/* Exceptions for interst */

.form__label--deposit,
.form__label--withdrawal {
  grid-row: 2;
}

/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 15px;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  position: absolute;
  font-size: 1.3rem;
  text-align: center;
  left: 1rem;
  bottom: 0.75rem;
  pointer-events: none;
  transition: bottom 300ms;
}

.form__label--second {
  left: 17rem;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
  bottom: -2rem;
  font-weight: bold;
}

.form__btn {
  border: none;
  border-radius: 15px;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn i {
  transform: translateY(0.1rem);
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.form--deposit,
.form--withdraw {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
  grid-column: 2;
}

.timer {
  font-weight: 600;
}

.hidden {
  position: absolute;
  scale: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

footer {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-size: 1.1rem;
}

/* TODO Animate buttons, remove duplicate styles , improve login, responive disign*/
