* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
  line-height: 1.3;
  width: 100%;
  padding: 30px;
  text-align: center;
  color: white;
}

textarea {
  width: 300px;
  height: 100px;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.countries {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 1s;
  gap: 3rem;
}

.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.3rem;
  width: 30rem;
  border-radius: 0.7rem;
}

.neighbour::before {
  content: "Neighbour country";
  width: 100%;
  position: absolute;
  top: -4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
}

.neighbour {
  transform: scale(0.8) translateY(1rem);
  margin-left: 0;
}

.country__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.btn-country {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 0.7rem;
  color: white;
  background-color: orangered;
  cursor: pointer;
}
