@use "base";

.admin {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 5rem 7rem;
  border-radius: 25px;
  background-color: base.$color-grey-light-2;
  border: 2px solid base.$color-primary;
  min-width: 30vw;
  transition: all 300ms;

  &__title {
    font-size: 2.7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: base.$color-grad-2;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 30vw;
    font-size: 1.9rem;
    width: 100%;
    margin: 3rem 0.5rem;

    input {
      width: 100%;
      border-radius: 15px;
      height: 3rem;
      padding: 0.5rem;
      color: base.$color-grey-dark-2;

      &:focus {
        color: base.$color-grey-dark-1;
      }
    }

    &--btn {
      width: 30rem;
      align-self: center;
      margin-top: 0.8rem;
      padding: 0.5rem 2rem;
      border-radius: 25px;
      background-color: base.$color-grey-light-2;
      cursor: pointer;
      transition: all 200ms;
      font-size: 1.9rem;
      font-weight: 700;

      &:hover {
        background-color: base.$color-grey-light-3;
        transform: scale(1.05);
      }

      &.btn-verify {
        color: base.$color-grey-dark-1;

        &:hover {
          color: rgb(2, 170, 2);
        }
      }

      &.btn-delete {
        text-transform: uppercase;
        color: base.$color-error;
      }
    }
  }
}
