// $color-primary: #f59a83;
$color-primary: #f38e82;
$color-grad-1: #fbdb89;
$color-grad-2: #f48982;

$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text
$color-error: rgb(235, 47, 47);

$gradient: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark-1;
  background-image: $gradient;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
}

.container {
  max-width: 80vw;
  min-height: 117rem;
  margin: 2vw auto;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba($color-grey-dark-1, 0.2);

  display: grid;
  grid-template-rows: 10rem minmax(100rem, auto);
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "head head"
    "list recipe";
}
