@use "sass:color";
@use "base";

.recipe {
  background-color: base.$color-grey-light-1;
  grid-area: recipe;
  position: relative;
  transition: all 500ms;

  & .return-back-btn {
    display: none;
  }

  // FIGURE
  &__fig {
    height: 32rem;
    position: relative;
    transform-origin: top;

    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to right bottom, base.$color-grad-1, base.$color-grad-2);
      opacity: 0.6;
    }
  }

  &__img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%) skewY(-6deg);
    color: #fff;
    font-weight: 700;
    font-size: 3.25rem;
    text-transform: uppercase;
    width: 50%;
    line-height: 1.95;
    text-align: center;

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.3rem 2rem;
      background-image: linear-gradient(to right bottom, base.$color-grad-1, base.$color-grad-2);
    }
  }

  // DETAILS
  &__details {
    display: flex;
    align-items: center;
    padding: 7.5rem 8rem 3.5rem 8rem;

    &-right-btns {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }

  &__info {
    font-size: 1.65rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 4.5rem;
    }
  }

  &__info-icon {
    height: 2.35rem;
    width: 2.35rem;
    fill: base.$color-primary;
    margin-right: 1.15rem;
  }

  &__info-data {
    margin-right: 0.5rem;
    font-weight: 700;
  }

  &__info-buttons {
    display: flex;
    margin-left: 1.6rem;
    transform: translateY(-1px);
  }

  &__verified {
    background-color: color.adjust(base.$color-grey-light-2, $lightness: -2%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 10rem;
    margin-right: 1.75rem;

    svg {
      height: 2.25rem;
      width: 2.25rem;
      fill: base.$color-primary;
    }
  }

  // INGREDIENTS
  &__ingredients {
    padding: 5rem 8rem;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: base.$color-grey-light-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    & .add-all-products-btn {
      position: absolute;
      top: 3rem;
      right: 3rem;
      cursor: pointer;
      border-radius: 100%;
      padding: 1.3rem;
      background: base.$gradient;
      display: flex;
      transition: all 250ms;

      & svg {
        width: 2.5rem;
        height: 2.5rem;
      }

      &:hover {
        scale: 1.1;
        background: linear-gradient(to right bottom, base.$color-grad-1, base.$color-grad-1);
      }
    }
  }

  &__ingredient-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 3rem;
    list-style: none;
  }

  &__ingredient {
    display: flex;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: base.$color-primary;
    margin-right: 1.1rem;
    flex: 0 0 auto;
    margin-top: 0.1rem;
  }

  &__quantity {
    display: inline;
  }

  // DIRECTIONS
  &__directions {
    padding: 5rem 10rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__directions-text {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.5rem;
    color: base.$color-grey-dark-2;
  }

  &__publisher {
    font-weight: 700;
  }
}
