@use "base";

.search__results {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.search__results--title {
  font-size: 2rem;
  margin: 1.5rem 0 1.5rem 1.5rem;
  color: base.$color-grad-2;
  font-weight: 800;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sort-results--box {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 90%;
  cursor: pointer;

  & svg {
    stroke: base.$color-primary;
    width: 3rem;
    height: 3rem;
  }

  & button {
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.8rem;
    color: base.$color-grey-dark-1;
    cursor: pointer;
    text-transform: uppercase;
  }

  & span {
    font-size: 1.7rem;
  }
}

.search__results--results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  justify-items: center;
  margin-top: 2rem;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  .current-page {
    font-size: 1.4rem;
    font-weight: 700;
    grid-column: 2;
  }

  &__btn {
    width: 11rem;
    display: flex;
    justify-content: center;
    &--prev {
      grid-column: 1;
    }
    &--next {
      grid-column: 3;
    }
  }
}

.copyright {
  color: base.$color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;
  text-align: center;
  margin-top: auto;
  padding-top: 3rem;
}

.list-product {
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  background: base.$gradient;
  margin: 0.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  cursor: pointer;

  & svg {
    visibility: hidden;
    top: 10%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 80%;
    z-index: 1;
    color: base.$color-error;
    backdrop-filter: blur(1.5px);
  }

  &:hover {
    background: base.$color-grad-1;

    & svg {
      visibility: visible;
    }
  }
}
