@use "base";

.search__results {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.search__results--title {
  font-size: 2rem;
  margin: 1.5rem 0 1.5rem 1.5rem;
  color: base.$color-grad-2;
  font-weight: 800;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.search__results--results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  justify-items: center;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  .current-page {
    font-size: 1.4rem;
    font-weight: 700;
    grid-column: 2;
  }

  &__btn {
    width: 11rem;
    display: flex;
    justify-content: center;
    &--prev {
      grid-column: 1;
    }
    &--next {
      grid-column: 3;
    }
  }
}

.copyright {
  color: base.$color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;
  text-align: center;
}
