@use "base";

.add-recipe-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100rem;
  background-color: white;
  border-radius: 9px;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 11;
  transition: all 0.5s;
  animation: 350ms ease-in-out forwards fade-in;

  .btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 1.6rem;
    font-size: 3.5rem;
    cursor: pointer;
    border: none;
    background: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 10;
  transition: all 0.5s;
}

.upload {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 4rem 6rem;
  padding: 2% 4%;
  height: 40vh;

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    & label {
      font-size: 1.7rem;
      font-weight: 600;
      color: inherit;
    }

    & input {
      font-size: 1.5rem;
      padding: 0.8rem 1rem;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      transition: all 0.2s;
      width: 70%;

      &::placeholder {
        color: base.$color-grey-light-3;
      }

      &:focus {
        outline: none;
        border: 1px solid base.$color-primary;
        background-color: base.$color-grey-light-1;
      }
    }

    & .cooking__directions {
      width: 70%;
      height: 8rem;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }

  &__title {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: base.$color-primary;
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    align-self: center;
  }

  &__btn {
    justify-content: center;
    width: 25%;
    margin-top: 3rem;
  }

  &__ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
